<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522540336234-bjrugf3aft3utbfo1go1i1onh5l1sndn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522540336234-bjrugf3aft3utbfo1go1i1onh5l1sndn</string>
	<key>API_KEY</key>
	<string>AIzaSyDoft_3nuBjHxDDZ4_co3_q5rdypJB5_hk</string>
	<key>GCM_SENDER_ID</key>
	<string>522540336234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-9d0bb</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-9d0bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522540336234:ios:e3ba4a6a6ca46d07cd3613</string>
</dict>
</plist>